<template>
  <div>
    <mdb-container>
      <form v-if="!loading" novalidate @submit.prevent="login">
        <mdb-card wide>
          <mdb-view gradient="peach" cascade>
            <h2 class="card-header-title m-3 text-white text-center">Login:</h2>
          </mdb-view>
          <mdb-card-body class="text-center" cascade>
            <mdb-input v-model="user.email"
                       label="E-mail"
                       :rules="notEmptyRules"
                       size="lg"
                       type="email"
                       icon="envelope"
                       required/>

            <mdb-input v-model="user.password"
                       label="Password"
                       type="password"
                       :rules="notEmptyRules"
                       size="lg"
                       icon="fas fa-lock"
                       required/>
          </mdb-card-body>
          <mdb-card-footer class="white d-flex justify-content-end">
            <mdb-btn class="black-text"
                     icon="paper-plane"
                     outline="default"
                     type="submit">
              Submit
            </mdb-btn>
          </mdb-card-footer>
        </mdb-card>
      </form>
    </mdb-container>
  </div>
</template>

<script>
  /* eslint-disable no-console */
  /* eslint-disable no-unused-vars */

  import {mapActions, mapState} from "vuex";
  import {validationMixin} from 'vuelidate';
  import {required, email} from "vuelidate/lib/validators";

  import {
    mdbContainer,
    mdbInput,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    mdbView,
    mdbCardFooter,
  } from 'mdbvue';

  export default {
    name: "login",
    mixins: [validationMixin],
    components: {
      mdbContainer,
      mdbInput,
      mdbBtn,
      mdbCard,
      mdbCardBody,
      mdbView,
      mdbCardFooter,
    },
    data: () => ({
      valid: true,
      user: {
        email: "",
        password: ""
      },
      notEmptyRules: [value => !!value || "Can not be empty"],
      validations: {
        user: {
          email: {required, email},
          password: {required}
        }
      },
    }),
    computed: {
      ...mapState("auth", {loading: "isAuthenticatePending"}),
      passwordErrors() {
        const errors = [];
        if (!this.$v.user.password.$dirty) return errors;
        !this.$v.user.password.required && errors.push('Password is required.');
        return errors
      },
      emailErrors() {
        const errors = [];
        if (!this.$v.user.email.$dirty) return errors
        !this.$v.user.email.email && errors.push('Must be valid e-mail')
        !this.$v.user.email.required && errors.push('E-mail is required')
        return errors
      },
    },
    methods: {
      ...mapActions("auth", ["authenticate"]),

      login() {
        console.log('Login....');
        console.log('Valid: ', this.valid);
        if (this.valid) {
          // Authenticate with the local email/password strategy
          this.authenticate({...this.user, strategy: "local"})
            .then(() => {
              console.log(" Logged in ...");
              this.$router.push("/about");
            })
            .catch(e => {
              console.error("Authentication ERROR ...", e);
            });
        }
      }
    }
  };
</script>
